<!DOCTYPE html>
<html>
  <head>
    <title>Employee Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/api/employees">Employee List</a></h3>
      <h1>Employee Detail</h1>
      <p>Record with Id: <%= id %> is not found.</p>
    
    </div>
  </body>
</html>
